# Install pre-commit hooks via
# pre-commit install

# black: automatic formatter
- repo: https://github.com/ambv/black
  rev: stable
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies: ["flake8-bugbear"]
    exclude: "^docs/"
